---
import Gallery from "./Gallery.astro";

interface Props {
  initialWork?: string;
  workBasePath: string;
}

const {initialWork, workBasePath} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#e8e5df" />
    <meta name="description" content="A portable catalog of browser-based artworks" />
    <title>Works</title>
  </head>
  <body>
    <Gallery initialWork={initialWork} basePath={workBasePath} />
  </body>
</html>
